@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer utilities {
  .dark-filter {
    --tw-invert: 100%;
    --tw-sepia: 0%;
    --tw-saturate: 4441%;
    --tw-hue-rotate: 92deg;
    --tw-brightness: 113%;
    --tw-contrast: 94%;

    filter: invert(var(--tw-invert)) sepia(var(--tw-sepia)) saturate(var(--tw-saturate)) hue-rotate(var(--tw-hue-rotate)) brightness(var(--tw-brightness)) contrast(var(--tw-contrast));
  }
}